.channelWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--server-backgound);
    color: white;
    overflow: hidden;
}

.channelContentWrapper {
    height: 100%;
    margin-top: 20px;
    border-top: 1px solid #222225;
}

.channelHeader {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #202225;
    font-weight: 600;
}

.channelTitle {
    font-size: 16px;
    font-weight: 400;
    padding: 16px 20px;
}

.messagesContainer {
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.contentWrapper {
    vertical-align: middle;
}

.usernameAndDate {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 8px 0;
}

.profilePicture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
}

.username {
    font-weight: 450;
    color: var(--text-default);
    font-size: 15px;
}

.date {
    color: #7f8088;
    font-size: 11px;
}

.messageGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.messageHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content {
    margin: 8px 0;
    color: var(--text-default);
    font-size: 15px;
}

.groupedContent {
    margin-left: 52px; /* aligns with text under avatar */
    margin-bottom: 8px;
    margin-top: 8px;
    color: var(--text-default);
    font-size: 15px;
}

.inputForm {
    display: flex;
    position: sticky;
    width: 100%;
    bottom: 0;
}

.inputField {
    flex: 1;
    height: 56px;
    margin: 0 8px 8px 8px;
    padding: 8px 16px;
    background: #222327;
    border: 1px solid #27282b;
    border-radius: 8px;
    color: white;
}

.inputField:focus {
    outline: none;
}
