.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: var(--background-default);
    padding: 20px 0;
}

.topContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 72px;
}

.userServers {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.userServer {
    display: flex;
    align-items: center;
}

.userServer:hover .serverIcon,
.createServer:hover .createButtonIcon {
    background: var(--button-background);
}

.logoutButton:hover .logoutButtonIcon {
    background: rgba(255, 180, 180, 0.85);
    color: rgb(187, 0, 0);
}

.indicatorWrapper {
    display: flex;
    position: absolute;
    align-items: center;
    height: 40px;
    width: 8px;
}

.selectIndicator {
    display: block;
    width: 8px;
    margin-left: -4px;
    background: white;
    border-radius: 0 4px 4px 0;
}

.serverWrapper,
.createServer,
.logoutButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.serverIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    width: 40px;
    height: 40px;
    background-color: var(--server-icon-background);
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}

.selectedServer {
    background-color: var(--button-background);
}

.serverIcon:focus,
.createButtonIcon:focus,
.logoutButtonIcon:focus {
    outline: none;
}

.serverIconImg {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background: none;
}

.createButtonIcon,
.logoutButtonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    width: 40px;
    height: 40px;
    background-color: var(--server-icon-background);
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--tooltip-background);
    color: white;
    padding: 8px;
    min-height: 38px;
    max-width: 200px;
    border: 1px solid var(--tooltip-border);
    border-radius: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    font-size: 14px;
    font-weight: bold;
    z-index: 10;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    background-color: inherit;
    border-left: 1px solid var(--tooltip-border);
    border-top: 1px solid var(--tooltip-border);
}

.serverWrapper:hover .tooltip,
.createButtonIcon:hover .tooltip,
.logoutButtonIcon:hover .tooltip {
    opacity: 1;
    animation: popUp 0.2s ease-in-out;
}

@keyframes popUp {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}
